<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
  <appSettings>
    <!-- Database-->
    <add key="Id" value="sa"/>
    <add key="Password" value="123"/>
    <add key="Server" value="localhost:1433"/>
    <add key="Database" value="ORDERDB"/>
    <add key="TrustedConnection" value="true"/>
    <add key="Timeout" value="300"/>
    <!-- Message ERROR-->
    <add key="MSGERR001" value="Đã tồn tại ID: {0}."/>
    <!-- Message INFO-->
    <add key="MSGINFO001" value="Đã thêm khách hàng có ID: {0} vào hệ thống."/>
  </appSettings>
</configuration>
